body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #0F0F0F;
    color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-container {
    background: #1A1A1A;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 255, 198, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease;
}

.auth-container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #00FFC6;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input {
    width: 94%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background: #0F0F0F;
    color: #CCCCCC;
    font-size: 16px;
}

.auth-container input::placeholder {
    color: #666666;
}

.auth-container .btn {
    background-color: #00FFC6;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #0F0F0F;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-container .btn:hover {
    background-color: #00d6a5;
}

.auth-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #666666;
}

.auth-container a {
    color: #FF2E63;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-container a:hover {
    color: #ff5c85;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Уведомления */
.alert-success {
    background-color: #00FF7F;
    color: #0F0F0F;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
}

.alert-error {
    background-color: #FF5555;
    color: #0F0F0F;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
}

.error-input {
    border: 2px solid #FF2E63 !important;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Ошибки */
.error {
    font-size: 13px;
    color: #FF5555;
    margin-top: 0px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    align-self: flex-start;
    padding-left: 5px;
}

/* Показываем ошибку */
.error.show {
    opacity: 1;
    transform: translateY(-10px);
}

.error.hide {
    opacity: 0;
    transform: translateY(-50px);
}

.auth-container.no-animation {
    animation: none !important;
}
