<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <header th:fragment="siteHeader" class="header">
    <div class="header-container">
      <nav class="nav-left">
        <div class="logo">
          <a href="/">CaseChanger</a>
        </div>
        <a href="/#">Обмен</a>
        <a href="/#how">Как это работает</a>
        <a href="/#support">Поддержка</a>
      </nav>
      <nav class="nav-right">
        <div th:if="${#authorization.expression('isAnonymous()')}">
          <a href="/login">Войти</a>
          <a href="/register">Зарегистрироваться</a>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
          <a href="/profile"><span th:text="${#authentication.name}">username</span></a>
        </div>
      </nav>
    </div>
  </header>

  <footer th:fragment="siteFooter" class="footer">
    <div class="container">
      <p>&copy; 2025 CaseChanger. Все права защищены.</p>
      <div class="socials">
        <a href="https://www.youtube.com/@AndoR21">YouTube</a>
        <a href="https://vk.com/zavtema">VK</a>
        <a href="https://t.me/zavtema">Telegram</a>
      </div>
    </div>
  </footer>
</body>
</html>