<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">
    <title>Вход - CaseChanger</title>
    <link rel="stylesheet" href="/css/Authorization.css">
    <script src="/js/Login.js"></script> <!-- подключаем правильный скрипт -->
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld11jIrAAAAAMUoUlb7feesE9uDp4ASpCHqbEG2"></script>
</head>
<body>
<div class="auth-container" th:classappend="${param.error} ? 'no-animation'">
    <h1>Вход в CaseChanger</h1>
    <form id="loginForm" method="post" action="/api/users/login">
        <div class="input-group">
            <input type="text" id="login" name="username" placeholder="Username">
            <div class="error" id="loginError"></div>
        </div>

        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password">
            <div class="error" id="passwordError"></div>
        </div>

        <div class="checkbox-group">
            <label class="custom-checkbox">
                <input type="checkbox" name="remember-me"/>
                <span class="checkbox-box">
                    <svg class="checkmark" viewBox="0 0 24 24">
                        <path d="M5 13L9 17L19 7" />
                    </svg>
                </span>
                <span class="checkbox-text">Запомнить меня</span>
            </label>
        </div>

        <input type="hidden" name="recaptchaToken" id="recaptchaToken">

        <button type="submit" class="btn">Войти</button>
    </form>

    <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
</div>
</body>
</html>