<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <html xmlns:th="http://www.thymeleaf.org"> </html>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход - CaseChanger</title>
    <link rel="stylesheet" th:href="@{/css/Authorization.css}">
</head>
<body>
    <div class="auth-container">
        <h1>Вход в CaseChanger</h1>
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="Логин или Email" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit" class="btn">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
    </div>
</body>
</html>
