<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <html xmlns:th="http://www.thymeleaf.org"> </html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaseChanger — Обменник CS2</title>
    <link rel="stylesheet" th:href="@{/css/NotFoundPage.css}">
</head>
<body>
    <h1>Case Changer</h1>
    <p>Сайт скоро будет доступен. Следите за обновлениями!</p>
    <a href="#" class="button">Следить за новостями</a>
    <div class="footer">
        &copy; 2025 CaseChanger. Все права защищены.
    </div>
</body>
</html>
