<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">
    <title>Регистрация - CaseChanger</title>
    <link rel="stylesheet" href="/css/Authorization.css">
    <script src="/js/Registration.js" defer></script>
</head>
<body>
<div class="auth-container">
    <h1>Регистрация в CaseChanger</h1>
    <form id="registerForm">
        <div class="input-group">
            <input type="text" id="login" name="login" placeholder="Username">
            <div class="error" id="loginError"></div>
        </div>

        <div class="input-group">
            <input type="text" id="email" name="email" placeholder="Email">
            <div class="error" id="emailError"></div>
        </div>

        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password"  autocomplete="new-password" >
            <div class="error" id="passwordError"></div>
        </div>

        <div class="input-group">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"  autocomplete="new-password">
            <div class="error" id="confirmPasswordError"></div>
        </div>

        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
</div>
</body>
</html>