<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация - CaseChanger</title>
    <link rel="stylesheet" href="/css/Authorization.css">
    <script src="/js/Registration.js" defer></script>
</head>
<body>
    <div class="auth-container">
        <h1>Регистрация в CaseChanger</h1>
        <form id="registerForm">
            <input type="text" id="login" name="login" placeholder="login" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
    </div>
</body>
</html>